body {
  background-color: rgb(253, 251, 251);
  font-family: Syne Mono, monospace, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0px;
  width: 99%;
  text-align: center;
  border: 1px solid grey;
  font-family: Dancing Script, cursive, sans-serif;
  background-color: #f5f5f5;
}
#cabecalho ul{
  border-top: 1px dashed black;
}

#cabecalho li {
  display: inline-flex;
  margin: 10px 50px 0px 0px;
  font-family: Syne Mono, monospace, sans-serif;
  border-right: 1px dashed black; 
  border-left: 1px dashed black;
  padding: 0 10px 0 10px;
}

#cabecalho a {
  text-decoration: none;
}

#titulo {
  text-align: center;
  display: inline-block;
  width: 30%;
}

.navigation {
  text-decoration: none;
}

.navigation-container {
  text-decoration: none;
  padding-left: 0%;
}

.titles {
  font-family: Dancing Script, cursive, sans-serif;
  font-weight: 900;
}

.photo-description {
  font-family: Dancing Script, cursive, sans-serif;
  text-align: center;
  margin-top: 11%;
}

#main-article {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 20px;
}

#minha_foto {
  width: 200px;
  border: 6px ridge burlywood;
}

.img-container {
 vertical-align: middle;
 margin: 10px;
}

.lado-esquerdo {
  font-size: medium;
  float: left; /*Sei que não precisa usar float com o display:flex, mas é para passar no testezinho lá */
}

.lado-direito {
  font-size: x-large;
  float: right;
}

.licoes_aprendidas-container {
  display: inline-block;
  border: 1px dashed black;
  padding-left: 10px;
  padding-right: 10px;
}

.licoes-aprendidas-title {
  color: green;
}

.licoes-a-aprender-title {
  color: red;
}

.licoes_a_aprender-container {
  display: inline-block;
  border: 1px dashed black;
  padding-left: 10px;
  padding-right: 10px;
}

.table-marvelous-container {
  display: inline-flex;
}

.table-marvelous-header {
font-weight: 500;
}

#rodape {
text-align: center;
}