body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  width: 1366px;
    top: 0px;
    left: -10px;
    padding-right: 500px;
    position: fixed;
    background-color: green;
}

#cabecalho h1 {
    color: white;
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 36px;
    font-weight: 900;
}

header nav ul {
    list-style: none;
    color: white;
}

#principal {
    margin-top: 150px;
    margin-left: 10px;
    border: 5px;
}

img#minha_foto {
    width: 200px;
}

p {
    line-height: 1.5;
}

.lado-esquerdo {
    width: 38%;
    float: left;
    padding-left: 50px;
}

.lado-direito {
    width: 38%;
    float: right;
    padding-right: 50px;
}

footer {
    clear: both;
}
