* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  background-color: rgb(253, 251, 251);
  font-family: "San Francisco";
  font-size: smaller;
  font-weight: 100;
}

.main-container {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#cabelacalho {
  top: 0;
}

#titulo {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(31, 31, 31);
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

nav {
  margin: 5px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  width: 120px;
  height: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.2em;
  background-color: rgb(219, 219, 219);
}

nav a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(189, 189, 189);
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 5px;
}

.middle-column {
  margin-top: 5px;
  margin-bottom: 5px;
}

.middle-box {
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  border: 1px solid rgb(173, 173, 173);
  width: 300px;
  height: 260px;
  background-color: rgb(243, 242, 242);
}

.middle-box:hover {
  background-color: rgb(255, 255, 255);
}

.semver {
  display: none;
}


li {
  font-size: 1.3em;
  text-decoration: none;
}


ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

li {
  color: rgb(37, 33, 33);
}

#minha_foto {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

footer {

  padding: 5px;
  text-align: center;
  width: 1000px;
  height: 20px;
}
