body {
    background-color: rgb(253 , 251 , 251);
    padding: 0;
    margin: 0;
    font-family: "Turret Road", cursive;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    box-sizing: border-box;
}

#topo {
    background-image: url(./Y.png);
    width: 100%;
    height: 133.94px;
    position: fixed;
    top: 0;
    z-index -100;
}

#cabecalho {
    position: fixed;
    top: 0;
    background-image: linear-gradient(rgba(61 , 61, 61, 0.95), #000000);
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.59);
    width: 100%;
    z-index: 1:
}

#cabecalho h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    color: #e3e1e1;
}

h2 , h3 {
    color: #3d3d3d;
}

nav li {
    display: inline-block;
    margin-right: 5%;
    padding: 5px;
}

nav ul {
    margin-left: 5%;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fcfafa;
}

nav a:hover {
    text-decoration: underline;
}

img {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 5%;
    width: 250px;
    border: 5px solid #7d7c7c;
    border-style: double;
}

.italico {
    font-style: italic;
    font-weight: 200;
}

.negrito {
    font-weight: 800;
}

.licoes {
    width: 25%;
    margin-left: 3%;
    margin-right: 1%;
    display: inline-block;
    background-color: rgba(166 , 166 , 166 , 0.2);
    padding: 0 15px;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.2);
}

.licoes ul {
    list-style: square;
    margin-top: 5px;
}

.licoes ol {
    margin-top: 5px;
}

.licoes li {
    margin-bottom: 10px;
    font-size: 17px;
}

.licoes h3 {
    margin-bottom: 5px;
}

.lado-esquerdo {
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 15px;
    padding-top: 0;
    background-color: rgba(166 , 166 , 166 , 0.2);
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.2);
}

.lado-direito {
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 15px;
    padding-top: 0;
    background-color: rgba(166 , 166 , 166 , 0.2);
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.2);
}

footer {
    margin-top: 20px;
    height: 40px;
    background-image: linear-gradient(rgba(61 , 61, 61, 0.95), #000000);
    padding-bottom: 10px;
}

footer p {
    display: inline-block;
    margin-left: 1%;
    font-weight: 200;
    color: rgb(166 , 166 , 166);
}

footer a {
    display: inline-block;
    color: #fcfafa;
    margin-left: 1%;
}

footer img {
    width: 20px;
    border: 0;
    display: inline-block;
    margin: 0;
    float: left;
    margin-top: 15px;
    margin-left: 35%;
}

#artigo-principal {
    position: absolute;
    top: 340px;
}

table {
    display: inline-block;
    vertical-align: top;
    margin-top: 150px;
}

td {
    display: inline-block;
    background-color: rgba(166 , 166 , 166 , 0.2);
    padding: 5px;
    margin: 2px;
}

th {
    text-align: left;
    padding-left: 5px;
}

.td-item {
    width: 55px;
}
.td-valor {
    width: 150px;
}
