body{
    background-color: rgb(253, 251, 251)
}

#cabecalho{
position: fixed;
top: 0px;
background-color: salmon;
width:1000px;




}

#titulo{
    text-align: center;
    font-family: monospace;


}
#secaodelicoes {
    display: inline-block;
    
}
#secaodelicoes1{
    display: inline-block;
    margin-left: 70px;
}


.transformlista{
    display: inline-block;
    width: 200px;
}
#minha_foto{
    padding-top: 100px;
    border-radius: 20px;
}
.lado-direito{
    display: inline-block;
    margin-left: 50px;
    border: 4px solid blue;
}

#licoes_aprendidas{
    

}
#licoes_a_aprender{
    
    top: 50px;
    margin-left: 70px;
    list-style-type: none;
    
}
.lado-esquerdo{
    padding-top: 1px;
    display: inline-block;
    border: 4px dotted red;
    max-width: 500px;
    
     
   
   
}
#rodape h3{
    font-size: 15px;
    font-weight: 100;
    color:orangered;
    margin-right: 50px;
    left: 50px;
}

table,th,td{
    margin-top: 50px;
    border: 2px solid black;
  
}
#semestilo{
    list-style-type: none;
}
