* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(253, 251, 251);
  margin: 0px;
  padding: 0px;
  border: 0px solid;
  font-family: "Montserrat", Helvetica, sans-serif;
  font: #118094;
  line-height: 1.5;
}

nav a{
    text-decoration: none;
    color: black;     
}

nav :hover {
    color: #c0e6f8;
}

.d_h_superior {
  background: linear-gradient(50deg, #0b8f70 50%, #c0e6f8 70%);
  width: 100%;
  height: 15rem;
  top: 0px;
  position: fixed;
  z-index: 1;
  line-height: 1.25;
}

#cabecalho {
  position: fixed;
  top: 0px;
}

#minha_foto,
#logoTrybe {
  width: 12rem;
  display: inline-flex;
  overflow: hidden;
  position: absolute;
  justify-content: space-between;
}

#logoTrybe {
  position: absolute;
  top: 12rem;
  left: 69rem;
}

.d_h_inferior {
  display: flex;
  position: relative;
  width: 100%;
  left: 12.5rem;
  top: 8rem;
  flex-direction: column;
}

#titulo, #subtitulo {
  margin: 5px;
}
.d_h_inferior nav {
  display: inline;
  padding: 0px 10px;
}
.d_article {
  position: absolute;
  top: 15rem;
  width: 45%;
  margin-bottom: 10px;
  margin-left: 2px;
  box-shadow: 1px 1px 2px #0b8f70;
}

.d_licoes {
  position: absolute;
  top: 15rem;
  bottom: 0.5rem;
  left: 50%;
  width: 45%;
  display: flex;  
}
#licoes_aprendidas {
  margin-right: 20px;
  list-style-type: none;
}

#licoes_a_aprender {
  list-style-type: none;
  
}

.lado-esquerdo, .lado-direito{
    box-shadow: 1px 1px 2px #0b8f70;
}

.tabela {
    box-shadow: 1px 1px 2px #0b8f70;
}

.d_footer {
  background: linear-gradient(50deg, #c0e6f8 50%, #0b8f70 70%);
  position: fixed;
  bottom: 0rem;
  width: 100%;
}

aside a {
    text-decoration: none;
    color: black;
}

aside a:hover {
    color: #0b8f70
}
