.body {
    background-color:rgb(253, 251, 251)
}

#main {
    margin-top:10vh;
}

#cabecalho {
    top: 0px;
    position: fixed;
}

#titulo {

}

#minha_foto {
    padding: 3px;
    background-color: grey;
}

#licoes_aprendidas{

}

#licoes_a_aprender{

}

#table td {
    border: 10px solid grey;
}

#rodape{

}